---
import Layout from '../layouts/Layout.astro';
import "../styles/global.css"

import { Content, frontmatter} from "../data/index.md";
---

<Layout>
	<div class="dark:bg-gray-900 bg-blue-200 w-full h-max py-20">
		<div class="prose dark:prose-invert mx-auto w-full max-w-none md:max-w-3xl">
			<Content />
		</div>
	</div>
</Layout>
