---
import "../styles/global.css"
---

<div>
    <div class="flex justify-center px-5">
        <p class="opacity-50">Checkout the sourcecode on <a href="https://github.com/Luna-Bytes/deutsch-projekt">GitHub</a></p>
    </div>
</div>