---
import "../styles/global.css"
---

<div class="flex flex-row flex-wrap justify-between py-5 mx-5">
    <a href="/" class="hover:text-gray-400 no-underline">Epochenübersicht</a>
    <a href="/mika" class="hover:text-gray-400 no-underline">Evangelienharmonie</a>
    <a href="/vithusan" class="hover:text-gray-400 no-underline">Tristan und Isolde</a>
    <a href="/autumn" class="hover:text-gray-400 no-underline">Lohengrin</a>
</div>